<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Monitor Kigali Air Pollution</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <!-- Added Scripts -->
    <script>
        var Http = new XMLHttpRequest();
        var url = "https://api.thingspeak.com/channels/778383/fields/1.json?results=2";
        Http.open("GET", url);
        Http.send();
        Http.onreadystatechange=(e)=>{
            obj = JSON.parse(Http.responseText);
        };
        console.log(obj);
        document.getElementById("aqi").innerHTML = obj["channel"].field1;
        document.getElementById("temp").innerText = obj.channel.field2;
        document.getElementById("humidity").innerText = obj.channel.field3;
        document.getElementById("CO2").innerText = obj.channel.field4;
        document.getElementById("PM25").innerText = obj.channel.field5;
        document.getElementById("createdAt").innerText = obj.channel.created_at;
        document.getElementById("updatedAt").innerText = obj.channel.updated_at;
    </script>
</head>
<body>
<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <!--Usage of models we wrote in WepAppController th:text="'Welcome to basic Bootstrap with Spring Boot created by ' + ${username} -->
        <h3 th:text="'Realtime Pollution Monitor, powered by ' + ${projectName}"></h3>
        <p th:text="'Time:  ' + ${#dates.format(datetime, 'dd MMM yyyy HH:mm')}"></p>
        <p> Monitoring Kigali Air Pollution Patterns to improve air quality, health and utilize Pollution data
        in decision making and interventions</p>
        <p>
            <a class="btn btn-sm btn-primary" href="#" role="button">About Us &raquo;</a>
        </p>
        <h5 th:text="'AQI(USA): ' + ${aqi}"></h5>
        <h5 th:text="'Temperature (°C): ' + ${temp}"></h5>
        <h5 th:text="'Humidity (g/m³ or %): ' + ${humidity}"></h5>
        <h5 th:text="'Carbondioxide (CO₂): ' + ${CO2}"></h5>
        <h5 th:text="'Particle Matter, PM2.5 (μg/m³): ' + ${PM25}"></h5>
        <h5 th:text="'Created At: ' + ${createdAt}"></h5>
        <h5 th:text="'Updated at: ' + ${updatedAt}"></h5>
        <h5> Air Quality Index (AQI)</h5>
        <div class="ct-chart" width="200" height="200"></div>
        <p>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/778383/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/778383/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
        </p>
        <p>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/778383/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/778383/charts/4?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
        </p>
        <p>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/778383/charts/5?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/778383/charts/6?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
        </p>
    </div>
</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static/js/custom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script>
    new Chartist.Pie('.ct-chart', {
    series: [20, 80]
}, {
    donut: true,
    donutWidth: 20,
    donutSolid: false,
    startAngle: 270,
    total: 200,
    showLabel: true
});
</script>
</body>
</html>