<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Monitor Kigali Air Pollution</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <!-- Added Scripts -->
   <!-- <script>
        var Http = new XMLHttpRequest();
        var url = "https://api.thingspeak.com/channels/778383/fields/1.json?results=2";
        Http.open("GET", url);
        Http.send();
        Http.onreadystatechange=(e)=>{
            obj = JSON.parse(Http.responseText);
        };
        console.log(obj);
        document.getElementById("aqi").innerHTML = obj["channel"].field1;
        document.getElementById("temp").innerText = obj.channel.field2;
        document.getElementById("humidity").innerText = obj.channel.field3;
        document.getElementById("CO2").innerText = obj.channel.field4;
        document.getElementById("createdAt").innerText = obj.channel.created_at;
        document.getElementById("updatedAt").innerText = obj.channel.updated_at;
    </script-->
    <link rel="stylesheet" href="../templates/css/valuenumber.css">
</head>
<body>
<div class="container">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <!--Usage of models we wrote in WepAppController th:text="'Welcome to basic Bootstrap with Spring Boot created by ' + ${username} -->
        <p th:text="'Time:  ' + ${#dates.format(datetime, 'dd MMM yyyy HH:mm')}"></p>
        <h5 th:text="'Realtime Pollution Monitor, powered by ' + ${projectName}"></h5>
        <p> <h1><strong>What's in your AIR? </strong></h1></p>

        <!--<div class="aqi">
            <div class="graph-title">
                AQI (USA)
            </div>
            <span id="display">48</span>

            <div class="observation">
                Moderate
            </div>

        </div>-->
    
        <div class="card-body">
            <div class="row">
              <div class="col-sm-5">
                <h4 class="card-title mb-0">KigaliAir</h4>
                <div class="small text-muted">May 2019</div>
              </div>
              <!-- /.col-->
              <div class="col-sm-7 d-none d-md-block">
                <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
                  <label class="btn btn-outline-secondary">
                    <input id="option1" type="radio" name="options" autocomplete="off"> Day
                  </label>
                  <label class="btn btn-outline-secondary active">
                    <input id="option2" type="radio" name="options" autocomplete="off" checked=""> Month
                  </label>
                  <label class="btn btn-outline-secondary">
                    <input id="option3" type="radio" name="options" autocomplete="off"> Year
                  </label>
                </div>
              </div>
              <!-- /.col-->
            </div>
            
          </div>
          <div class="card-footer">
            <div class="row text-center">
              <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">Air Quality Index(AQI -RW)</div>
                <strong id="aqi-text"></strong>
                <div class="progress progress-xs mt-2">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">Temperature reading</div>
                <strong id="temp-text"></strong>
                <div class="progress progress-xs mt-2">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">Current Humidity</div>
                <strong id="humidity-text"></strong>
                <div class="progress progress-xs mt-2">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="col-sm-12 col-md mb-sm-2 mb-0">
                <div class="text-muted">Carbondioxide</div>
                <strong id="co2-text"></strong>
                <div class="progress progress-xs mt-2">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="260" aria-valuemin="0" aria-valuemax="500"></div>
                </div>
              </div>
            </div>
          </div>
        </div>        





        <div id="my-chart" width="200" height="200"></div>
        <p>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/778383/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Air+Quality+Index&type=line"></iframe>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/778383/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Temperature&type=line&yaxis=Temperature+%28C%29"></iframe>
        </p>
        <p>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/778383/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Humidity&type=line&yaxis=Humidity+%28%25%29"></iframe>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/778383/charts/4?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&title=Carbon+Dioxide&type=line&yaxis=Particles+%28ug%2Fm3%29"></iframe>
        </p>
    </div>
</div>
<!-- /container -->
<!-- Bootstrap core JavaScript
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../../../../src/js/range.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static/js/custom.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script>
    let aqi = 0;
    let temp = 0;
    let humidity = 0;
    let co2 = 0;

    fetch('https://api.thingspeak.com/channels/778383/fields/1.json?results=1')
        .then(data  => data.json())
        .then(data => {
            aqi = data.feeds[0].field1
            const aqiElement = document.getElementById('aqi-text');
            aqiElement.innerText = aqi;
        })
    fetch('https://api.thingspeak.com/channels/778383/fields/2.json?results=1')
        .then(data  => data.json())
    .then(data => {
        temp = data.feeds[0].field2
        const tempElement = document.getElementById('temp-text');
        tempElement.innerText = temp + '°C';
    })
    fetch('https://api.thingspeak.com/channels/778383/fields/3.json?results=1')
        .then(data  => data.json())
    .then(data => {
        humidity = data.feeds[0].field3
        const humidityElement = document.getElementById('humidity-text');
    humidityElement.innerText = humidity + '%';
    })
    fetch('https://api.thingspeak.com/channels/778383/fields/4.json?results=1')
        .then(data  => data.json())
    .then(data => {
        co2 = data.feeds[0].field4
        const co2Element = document.getElementById('co2-text');
        co2Element.innerText = co2 + ' μg/m³';
    })
</script>
    <!--<script>
 
        let createAt = [];
        let field1 = [];
        fetch('https://api.thingspeak.com/channels/778383/fields/1.json?results=20')
            .then(response => response.json())
        .then(data => {

            data.feeds.forEach(list => {
                createAt.push(list.created_at)
                field1.push(list.field1)
            })
            console.log(createAt, field1);
            var data = {
                labels: createAt,
                series: [
                    {
                        data: field1
                    }
                ]
            };

            /* Set some base options (settings will override the default settings in Chartist.js *see default settings*). We are adding a basic label interpolation function for the xAxis labels. */
            var options = {
                axisX: {
                    labelInterpolationFnc: function(value) {
                        return  value;
                    }
                }
            };

            /* Now we can specify multiple responsive settings that will override the base settings based on order and if the media queries match. In this example we are changing the visibility of dots and lines as well as use different label interpolations for space reasons. */
            var responsiveOptions = [
                ['screen and (min-width: 641px) and (max-width: 1024px)', {
                    showPoint: false,
                    axisX: {
                        labelInterpolationFnc: function(value) {
                            return 'Week ' + value;
                        }
                    }
                }],
                ['screen and (max-width: 640px)', {
                    showLine: false,
                    axisX: {
                        labelInterpolationFnc: function(value) {
                            return 'W' + value;
                        }
                    }
                }]
            ];

            /* Initialize the chart with the above settings */
            new Chartist.Line('#my-chart', data, options, responsiveOptions);
            })
        .catch(error => console.error(error));


    </script>-->
</body>
</html>